/* styles for local-stores pages */
.locations{
    margin-top: 50px;
}
.location-item1{
    margin-right: 14px;
}
.location-item{
    width: 260px;
}
.content-location {
    height: 230px;
}
.text-align-center{
    text-align: center;
}
/* styles button */

.view-location{
    display: block;
    width: 160px;
    height: 40px;
    background: #f8f8f8;
    border: 2px solid #737373;
    margin-bottom: 40px;
}
.view-location a{
    color: #454647;
    letter-spacing: 3px;
}

.view-location:hover a{
    color: #ffffff;
}
.view-location:hover{
    background: #00c8c8;
    border: 2px solid #00c8c8;
}
.content-local-stores span {
    color: #8e8c8c;
    margin-bottom: 20px;
}
.content-local-stores h4 {
    font-size: 13px;
    font-weight: bold;
    color: #727272;
}
.content-local-stores h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #575153;
}

/* styles location details */
.map{
    width: 60%;
    height: 500px;
}
.details-map{
    width: 40%;
    height: 500px;
    padding: 40px 20px;
    background: #f8f8f8;
    margin-bottom: 50px;
}
.contact-details{
    margin-top: 25px;
}
.icons{
    margin-right: 15px;
}
.address-info li {
    color: #8e8c8c;
    margin-bottom: 12px;
}
.address-info ul {
    margin-top: 25px;
}
.contact-us{
    margin-top: 40px;
}
.contact-us li{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    background: #575153;
    text-align: center;
    padding-top: 6px; 
}